

#playground {
    width:90vh;
    height: 90vh;
    border: solid 1px red;
    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: -45vh;
    margin-left: -45vh;
}

.card {
    width: 100px;
    height: 90vh;

    position: absolute;
    top: 0;
    left: 45%;

    background-repeat: no-repeat;
    background-position: top;
    background-size: contain
}

[pl-monster="twoeye"][pl-pattern="dotted"][pl-color="red"] {
     background-image: url("assets/monster_red_two_dotted.png");
}
[pl-monster="oneeye"][pl-pattern="dotted"][pl-color="red"] {
     background-image: url("assets/monster_red_one_dotted.png");
}
[pl-monster="twoeye"][pl-pattern="striped"][pl-color="red"] {
     background-image: url("assets/monster_red_two_striped.png");
}
[pl-monster="oneeye"][pl-pattern="striped"][pl-color="red"] {
     background-image: url("assets/monster_red_one_striped.png");
}
[pl-monster="twoeye"][pl-pattern="dotted"][pl-color="blue"] {
     background-image: url("assets/monster_blue_two_dotted.png");
}
[pl-monster="oneeye"][pl-pattern="dotted"][pl-color="blue"] {
     background-image: url("assets/monster_blue_one_dotted.png");
}
[pl-monster="twoeye"][pl-pattern="striped"][pl-color="blue"] {
     background-image: url("assets/monster_blue_two_striped.png");
}
[pl-monster="oneeye"][pl-pattern="striped"][pl-color="blue"] {
     background-image: url("assets/monster_blue_one_striped.png");
}

[pl-cardtype="change"][pl-change="pattern"] {
     background-image: url("assets/change_pattern.png");    
}
[pl-cardtype="change"][pl-change="color"] {
     background-image: url("assets/change_color.png");    
}
[pl-cardtype="change"][pl-change="monster"] {
     background-image: url("assets/change_monster.png");    
}

[pl-cardtype="funnel"] {
     background-image: url("assets/funnel.png");    
}


#dice {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 140px;
    height: 140px;

    border: solid 1px red;

    margin-top: -70px;
    margin-left: -70px;
}

.die {
    display: inline-block;
    width: 70px;
    height: 70px;

    background-size: contain;
    background-repeat: no-repeat;
}

#die_monster.oneeye {
    background-image: url("assets/monster_one_eye.png");
}
#die_monster.twoeye {
    background-image: url("assets/monster_two_eye.png");
}

#die_color.red {
    background-image: url("assets/color_red.png");
}
#die_color.purple {
    background-image: url("assets/color_purple.png");
}




